@media (max-width: 576px) {
    /* стили для xs-устройств */
    #app {
        .container {
            .wrapper {
                &-title {
                    top: 180px;
                    left: -54%;
                    line-height: 1.2;
                    font-size: 1.3em;
                    z-index: 1;
                    transform: rotate(-90deg);
                }
                &-logo {
                    top: -66px;
                    left: -10%;
                    font-size: 1.8em;
                    font-weight: 900;
                }
                &-social {
                    margin-right: 6%;
                    top: 15px;
                    ul li {
                        margin: 2%;
                    }
                }
                &-content {
                    padding: 4%;
                    font-size: 1.2em;
                    height: 50%;
                    display: none;
                    display: block;
                    text-align: center;
                    box-shadow: none;
                    background: none;
                }
                .flex-sa {
                    display: block;
                    div.circle-image {
                        margin-top: 10px;
                    }
                }
                .circle-image {
                    display: inline-block;
                    width: 200px;
                    box-shadow: none;
                    height: 200px; /* Ширина и высота */
                    background-size: auto 260px; /* Высота фотографии равна высоте элемента */
                }
                .skills {
                    font-size: 1em;
                }
                .text {
                    p {
                        &:nth-child(1) {
                            margin-left: 0;
                        }
                    }
                }
                .m-2 {
                    margin-left: 0;
                }
                .btn {
                    position: relative;
                    right: 0%;
                    font-size: 1rem;
                    padding: 8px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}
@media (max-width: 414px) {
    #app {
        .container {
            .wrapper {
                &-title {
                    top: 190px;
                    left: -54%;
                    font-size: 1.3em;
                }
                &-logo {
                    font-size: 1.8em;
                }
                &-social {
                    left: 20px;
                    ul li {
                        margin: 2%;
                    }
                }
                &-content {
                    padding: 0;
                    font-size: 1.2em;
                }
                .circle-image {
                    display: inline-block;
                    width: 220px;
                    box-shadow: none;
                    height: 220px; /* Ширина и высота */
                    background-size: auto 280px; /* Высота фотографии равна высоте элемента */
                }
                .skills {
                    font-size: 1em;
                }
                .btn {
                    position: relative;
                    right: 0%;
                    font-size: 1rem;
                    padding: 8px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* стили для sm-устройств */
    #app {
        .container {
            max-width: 95%;
            font-size: 1.4em;
            .wrapper {
                margin-top: 8%;
                &-title {
                    top: 20px;
                    font-size: 1.5em;
                }
                &-logo {
                    left: 1%;
                }
                .card-contacts {
                    margin: 6% 0;
                    text-align: left;
                    ul li {
                        margin: 0;
                    }
                }
                .card-adress {
                    text-align: left;
                }
                &-content {
                    max-width: 1000px;
                }
                .skills {
                    position: absolute;
                    top: -598px;
                    right: 40px;
                    text-align: right;
                }
                .flex-sa {
                    display: block;
                    div.circle-image {
                        margin-top: 10px;
                    }
                }
                .text {
                    p {
                        &:nth-child(1) {
                            margin-left: 0;
                        }
                    }
                }
                .m-2 {
                    margin-left: 0;
                }
                .btn {
                    position: absolute;
                    bottom: 7%;
                    right: 4%;
                    font-size: 1rem;
                    padding: 8px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}
@media (min-width: 991px) and (max-width: 1199px) {
    /* стили для md-устройств */
    #app {
        .container {
            max-width: 95%;
            font-size: 1.4em;
            .wrapper {
                margin-top: 10%;
                &-title {
                    top: 20px;
                    font-size: 1.5em;
                }
                &-logo {
                    top: -170px;
                    left: -6%;
                    font-size: 1.8em;
                    font-weight: 900;
                }
                .card-contacts {
                    margin: 6% 0;
                    text-align: left;
                    ul li {
                        margin: 0;
                    }
                }
                .card-adress {
                    text-align: left;
                }
                &-content {
                    max-width: 1000px;
                }
                .skills {
                    position: absolute;
                    top: -618px;
                    right: 40px;
                    text-align: right;
                }
                .flex-sa {
                    display: block;
                    div.circle-image {
                        margin-top: 10px;
                    }
                }
                .text {
                    p {
                        &:nth-child(1) {
                            margin-left: 0;
                        }
                    }
                }
                .m-2 {
                    margin-left: 0;
                }
                .btn {
                    position: absolute;
                    bottom: 7.5%;
                    right: 4%;
                    font-size: 1rem;
                    padding: 8px;
                    margin-bottom: 15px;
                }
            }
        }
    }
}
