//====================================================================
#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin: 4%;
    section {
        padding: 0;
    }
    a {
        background: linear-gradient(45deg, #0b2349 33%, #0d61bc 66%, #8aa9d6);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .wrapper {
        position: relative;
        //=================================
        &-social {
            position: relative;
            top: -20px;
            right: 0%;
            ul {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                li {
                    margin-right: 3%;
                    a {
                        font-weight: 700;
                        font-size: 1.1em;
                        &:hover {
                            background: linear-gradient(18deg, #000000 33%, #18ca00 66%, #8aa9d6);
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                    }
                }
            }
        }
        //=================================
        &-logo {
            position: absolute;
            left: 4%;
            top: 4%;
            strong {
                font-weight: 900;
                background: linear-gradient(18deg, #000000 33%, #18ca00 66%, #8aa9d6);
                background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        //=================================
        &-title {
            position: relative;
            text-align: right;
            top: 50px;
            margin-top: 0;
        }
        //=================================
        &-content {
            background-color: #eef2f3;
            .m-2 {
                margin-right: 0;
            }
            //=================================
            .card {
                .shadow-drop-2-center {
                    text-align: center;
                }
                &-contacts {
                    margin: 10%;
                }
                &-adress {
                    font-weight: 700;
                    font-style: italic;
                    p {
                        margin: 0;
                        &:nth-child(1) {
                            margin-top: 10px;
                        }
                        &:nth-child(2) {
                            margin-bottom: 14px;
                        }
                    }
                }
            }
            //=================================
            .skills {
                hr {
                    margin-top: 0;
                }
                &-sub-title {
                    margin-bottom: 0;
                }
                li {
                    line-height: 1.7;
                    cursor: pointer;
                    &:hover {
                        a {
                            font-weight: 700;
                            font-style: italic;
                            font-size: 1.5em;
                            background: linear-gradient(45deg, #0b2349 33%, #0d61bc 66%, #8aa9d6);
                            background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }
                        border-bottom: 2px solid rgb(5, 147, 212);
                    }
                }
            }
            //=================================
            .education {
                h4 {
                    font-style: italic;
                    font-weight: 700;
                }
                p:last-child {
                    max-width: 95%;
                    border-bottom: 1px solid #000;
                }
            }
            //=================================
            .text {
                font-family: "Merriweather", serif;
                font-weight: 400;
                line-height: 1.8;
                font-size: 1.1rem;
                p {
                    margin: 0;
                    padding-bottom: 2.2%;
                    a {
                        font-weight: 700;
                        font-size: 1.3rem;
                        border-bottom: 2px solid rgb(5, 147, 212);
                    }
                }
                span.mark {
                    font-family: Avenir, Helvetica, Arial, sans-serif;
                    color: #008a07;
                    background-color: #dbdbdb;
                    padding: 0.2rem 0.4rem;
                    font-size: 90%;
                    font-weight: 600;
                    border-radius: 0.25rem;
                }
                span.check-mark {
                    font-size: 2rem;
                    margin-right: 2%;
                }
            }
        }
        .footer {
            flex: 0 0 auto;
            text-align: center;
            font-weight: 500;
            margin: 1%;
            padding: 1%;
            strong {
                &:last-child {
                    padding-left: 0.5%;
                }
            }
        }
    }
}
